<!-- <H1>Welcome</H1> -->






<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome to Rock Paper Scissors</title>
    <link rel="stylesheet" href="/stle.css">
  </head>
  <body>
<h1>The Rules of The Game Are as Follows</h1>
<p1>You need to pick the object that will beat your opponents object
blaa blaa
blaa blaa
blaa blaa.</p1>
  </body>
</html>
